.contentviewer {
	min-height: auto;
	height: auto;
	
}

#remplissage {
	flex-direction: column;
}

#remplissage > .flexRow {
	margin-right: auto;
}

#front_view {
	overflow: hidden;
	width: 440px;
	height: 440px;
	background: black;
	position: relative;
}

canvas#display_frames {
	width: 100%;
	image-rendering: pixelated;
	position: absolute;
	top: 0;
}

input[type=radio] {
	margin: 2px 8px;
}

input[type=radio] + label {
	line-height: 40px;
	cursor: pointer;
}

input[type=range]:disabled {
	cursor: default;
	opacity: 0.2;
}

#config_formule > .flexRow {
	width: 100%;
}

#fill_tmax {
	margin: auto;
}

#config_formule > * {
	transition: opacity 100ms;
}

#config_formule[disabled] p,
#config_formule[disabled] #formule_container {
	opacity: 0.2;
}

#formule_container {
	width: 100%;
	height: calc(100% - 40px);
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	background-color: #3e4f51;
	transition: background 0.1s;
}

#config_formule:not([disabled]) #formule_container:hover {
    background-color: #485d5f;
}

#formule_input, #fill_formule {
	padding: 8px;
    border-radius: inherit;
	font-family: 'consolas', monospace, -webkit-pictograph, 'fantasy';
    font-size: 18px;
	letter-spacing: 2px;
	line-height: 32px;
}

#formule_input {
	position: absolute;
	width: 100%;
	height: 100%;
	resize: none;
	margin: 0;
	color: rgba(232, 230, 227, .1);
	caret-color: rgb(232, 230, 227);
	background: transparent;
	z-index: 2;
}

#fill_formule {
	position: absolute;
	width: calc(100% - 18px);
	height: calc(100% - 18px);
	color: rgb(232, 230, 227);
	border: 1px solid transparent;
	z-index: 1;
	overflow: auto;
	pointer-events: none;
	white-space: pre-wrap;
	word-wrap: break-word;
	text-decoration-skip-ink: none;
}

#fill_formule span[JigMath='string'] {
	text-decoration: underline wavy;
}

#fill_formule span.equa_error {
	text-decoration: underline wavy red;
	font-weight: bold;
}

#fill_formule span.equa_warning {
	text-decoration: underline wavy orange;
}

#fill_formule span[JigMath='EquaBlob'][selected] > span[JigMath='EquaBlobLimit'] {
	border: 1px solid #999;
	margin: -1px;
}

#fill_formule span[JigMath='EquaFunction'] > span[JigMath='EquaLabel'] {
	color: #e4cb5f;
}

#fill_formule span[JigMath='EquaVariable'] {
	color: #5cc6ff;
}

#fill_formule span[JigMath='EquaNumber'],
#fill_formule span[JigMath='EquaHexaNumber'],
#fill_formule span[JigMath='EquaBinNumber'] {
	color: #99d877;
}
