.contentviewer {
	min-height: auto;
	height: auto;
	
}

#remplissage {
	flex-direction: column;
}

#remplissage > .flexRow {
	margin-right: auto;
}

#front_view {
	overflow: hidden;
	width: 440px;
	height: 440px;
	background: black;
	position: relative;
}

canvas#display_frames {
	width: 100%;
	image-rendering: pixelated;
	position: absolute;
	top: 0;
}

input[type=radio] {
	margin: 2px 8px;
}

input[type=radio] + label {
	line-height: 40px;
	cursor: pointer;
}

input[type=range]:disabled {
	cursor: default;
	opacity: 0.2;
}

textarea {
	padding: 8px;
    background-color: #3e4f51;
    border-width: 0px;
    color: rgb(232, 230, 227);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    transition: background 0.1s;
    font-weight: bold;
	resize: none;
}

textarea:hover:not(:disabled) {
    background-color: #485d5f;
}

textarea:disabled {
    opacity: 0.2;
}

#config_formule > .flexRow {
	width: 100%;
}

#fill_formule {
	width: -webkit-fill-available;
	height: calc(100% - 56px);
}

#fill_tmax {
	margin: auto;
}

#config_formule * {
	transition: opacity 100ms;
}

#config_formule[disabled] p {
	opacity: 0.2;
}
